/* Experimenting with CSS Begin: 07/11/2025 */

/* coding in progress... */

body{
    background-color: gray;
}
h1{
    color:rgb(203, 246, 231);
    font-family: "Press Start 2P", "cosolas", sans-serif;
}
p{
    background-color:antiquewhite;
    color:blueviolet;
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: black dotted underline;
    font-size: 16px

}
/* #p1{
    color:tomato
}
#p2{
    color:slategrey
}
#p3{
    color:burlywood
} */
.odd{
    color:red;
}
.even{
    color: blue;
}
        