body{
   background-image: url(hellokittty.jpeg);
   /* background-repeat: no-repeat; */
   background-attachment: fixed;
   background-position: center;
   background-size: cover; /* resize dynmaically */
}

h1{
    background: linear-gradient(pink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background: linear-gradient(pink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}