---
title: Page 2
layout: layout.njk
---

<h2>This is Page 2</h2>
<p>More content will be added here.</p>



<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="style00.css">
</head>
<body>
    <h1>This is Page 2</h1>

    <p id="p00">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio temporibus delectus quo velit
         incidunt cumque praesentium animi error repellat, accusamus, placeat pariatur debitis mollitia vero. Illo facilis blanditiis modi debitis.</p>
    <p id="p01">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio temporibus delectus quo velit incidunt 
        cumque praesentium animi error repellat, accusamus, placeat pariatur debitis mollitia vero. Illo facilis blanditiis modi debitis.</p>
    
</body>
</html>
-->